{{extend 'layout.html'}}
<style>
#check{
	display: none;
}
#hide
{
    display:none;
}
</style>
<script>
	function make(){
		l=document.getElementById('check').style.display="block";
	}
    function call(n){
        document.getElementById('hide').value=n
        alert(n)
        document.getElementById('sub').value="Remainder"
    }
</script>
<form action="{{=URL()}}" method="post">
	<t>Title: </t><input name="title" required /><br/><br/>
	<tags>Tags: </tags><input name="tags" required /><br/><br/>
	<content>Content: </content><input name="content" required/><br/><br/>
	Color : <select>
						<option value="0">
						</option>
                        <option value="1">Red
                        </option>
                        <option value="2">Blue
                        </option>
                        <option value="3" onclick="call(3)">Yellow
                        </option>        
    </select>
    <br><br>
    Remainder <input type="checkbox" name="alarm" onclick="make()"/>
    <div id="check">
        <br>
    	Date: <input type="date" name="date"> Format: dd-mm-yy <br><br>
    	Time: <input type="time" name="time"> Format: mm:ss <br><br>
    	Msg: <input type="text" name="msg"><br><br>
    </div>
    <input id="hide" name="color" value="0">
    <br><br>
    <input type="submit" value="InputIn" name="SubmitSecond" id="sub"/>
</form>
