<!DOCTYPE html>
<html lang="en">
    <head>
    <style>
    #check{
        display: none;
    }
    #hide
    {
        display:none;
    }
    </style>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
        <title>Bootply.com - Bootstrap 3 Admin Example</title>
        <meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="../../static/css/bootstrap.min1.css" rel="stylesheet">
        
        <!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <!-- CSS code from Bootply.com editor -->
          <script src="{{=URL('static', 'js/actb.js')}}"></script>
          <script src="{{=URL('static', 'js/common.js')}}"></script>
        <script type="text/javascript">
    function make(){
        l = document.getElementById('check').style.display
        console.log(l)
        if (l == "none" || l==""){
        document.getElementById('check').style.display="block";
        document.getElementById('sub').value="Remind Me"
        }
        else{
         document.getElementById('check').style.display="none";
         document.getElementById('sub').value="InputIn"   
        }

    }
    function call(n){
        document.getElementById('hide').value=n
        if(n==1)
        {
            document.getElementById("color_index").className="btn btn-primary"
            document.getElementById("hello").className="btn btn-primary"
            document.getElementById("color_index").innerHTML="blue"

        }
        else if(n==2)
        {
            document.getElementById("color_index").className="btn btn-success"
            document.getElementById("hello").className="btn btn-success"
            document.getElementById("color_index").innerHTML="green"
        }
        else if(n==3)
        {
            document.getElementById("color_index").className="btn btn-warning"
            document.getElementById("hello").className="btn btn-warning"   
            document.getElementById("color_index").innerHTML="yellow"
        }
    }
    function avinash(){
        l=document.getElementById('a1').value 
        l = String(l)
        array=l.split("-")
        if (array.length == 3)
        {
            day = array[0]
            month = array[1]
            year = array[2]
            day = Number(day)
            month = Number(month)
            year = Number(year)
            k = 0
            if ((array[0].length>0) && (array[1].length>0) && (array[2].length>0))
            {
                k = 1 
            }
            if ((day <= 31 && day>=1) && (month<=12 && month>=1) && (k==1))
            {
                document.getElementById("format").innerHTML="Valid Format"
            }
            else
            {
                document.getElementById("format").innerHTML = "Invalid Date - Format: dd-mm-yy "
            }
        }
        else
        {
            document.getElementById("format").innerHTML="Invalid Date - Format: dd-mm-yy"
        }
    }
    function raviraja(){
        l = document.getElementById("a2").value
        l = String(l)
        console.log(l)
        array = l.split(":")
        console.log(array.length)
        if (array.length==2)
        {
            console.log("if case")
            hr = Number(array[0])
            min = Number(array[1])
            k = 0
            if ((array[0].length>0) && (array[1].length>0))
            {
                k = 1 
            }
            if ((hr>=0 && hr<24) && (min>=0 && min<=60) && (k==1))
            {
                document.getElementById("time").innerHTML="Valid Format"   
            }
            else
            {
                document.getElementById("time").innerHTML = "Invalid Date - Format: hr:min"         

            }
        }
        else
        {
            console.log("else case")
            document.getElementById("time").innerHTML = "Invalid Date - Format: hr:min"
        }
    }
        function taglists()
        {
            var xmlhttp;
            if (window.XMLHttpRequest)
            {
                xmlhttp=new XMLHttpRequest();
            }
            else
            {
                xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange=function()
            {
                if (xmlhttp.readyState==4 && xmlhttp.status==200)
                {
                    y=xmlhttp.responseText;
                    n=eval("("+y+")");
                    var tag_array=n["tags"];
                    var obj=actb(document.getElementById('tags'),tag_array);
                }
            }
            xmlhttp.open("GET","./get_tags.html",true);
            xmlhttp.send();
        }
        taglists();  
</script>
        <style type="text/css">
            .navbar-static-top {
  margin-bottom:20px;
}

i {
  font-size:16px;
}

.nav > li > a {
  color:#787878;
}
  
footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
}

/* count indicator near icons */
.nav>li .count {
  position: absolute;
  bottom: 12px;
  right: 6px;
  font-size: 10px;
  font-weight: normal;
  background: rgba(51,200,51,0.55);
  color: rgba(255,255,255,0.9);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/* indent 2nd level */
.list-unstyled li > ul > li {
   margin-left:10px;
   padding:8px;
}
        </style>
    </head>
    
    <!-- HTML code from Bootply.com editor -->
    
    <body  >
        
        <!-- Header -->
<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-toggle"></span>
      </button>
      <a class="navbar-brand" href="#">NoteKeeper</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> Hello {{=l}} <span class="caret"></span></a>
          <ul id="g-account-menu" class="dropdown-menu" role="menu">
            <li><a href="user/profile">My Profile</a></li>
          </ul>
        </li>
        <li><a href="user/logout"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
      </ul>
    </div>
  </div><!-- /container -->
</div>
<!-- /Header -->

<!-- Main -->
<div class="container">
<div class="row">
    <div class="col-md-3">
      <!-- Left column -->
      <ul class="list-unstyled">
        <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#userMenu">
          <strong> Features <i class="glyphicon glyphicon-chevron-down"></i>
          </strong></a>
            <ul class="list-unstyled collapse in" id="userMenu">
                <li class="active"> <a href="note_viewing"><i class="glyphicon glyphicon-home"></i> Home</a></li>
                <li><a href="note_viewing"><i class="glyphicon glyphicon-envelope"></i> Inbox <span class="badge badge-info">4</span></a></li>
                <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Get My Notes </a></li>

                <li><a href="note_viewing?DeletionSubmit=DeleteAll"><i class="glyphicon glyphicon-comment"></i> Delete All</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-user"></i> Friends List</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-flag"></i> Priority </a></li>
                <li><a href="#"><i class="glyphicon glyphicon-exclamation-sign"></i> Upload Note </a></li>
                <li><a href="user/logout"><i class="glyphicon glyphicon-off"></i> Logout</a></li>
            </ul>
        </li>
        <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#menu2">
          <h5>Reports <i class="glyphicon glyphicon-chevron-right"></i></h5>
          </a>
        
            <ul class="list-unstyled collapse" id="menu2">
                <li><a href="#">Information &amp; Stats</a>
                </li>
                <li><a href="#">Views</a>
                </li>
                <li><a href="#">Requests</a>
                </li>
                <li><a href="#">Timetable</a>
                </li>
                <li><a href="#">Alerts</a>
                </li>
            </ul>
        </li>
        <li class="nav-header">
        <a href="#" data-toggle="collapse" data-target="#menu3">
          <h5>Social Media <i class="glyphicon glyphicon-chevron-right"></i></h5>
          </a>
        
            <ul class="list-unstyled collapse" id="menu3">
                <li><a href="#"><i class="glyphicon glyphicon-circle"></i> Facebook</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-circle"></i> Twitter</a></li>
            </ul>
        </li>
      </ul>
           
      <hr>
      
      <a href="#"><strong><i class="glyphicon glyphicon-link"></i> Resources</strong></a>  
      
      <hr>
      
      <ul class="nav nav-pills nav-stacked">
        <li class="nav-header"></li>
        <li><a href="#"><i class="glyphicon glyphicon-list"></i> Layouts &amp; Templates</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-briefcase"></i> Toolbox</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-link"></i> Widgets</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-list-alt"></i> Reports</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-book"></i> Pages</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-star"></i> Social Media</a></li>
      </ul>
      
      <hr>
    </div><!-- /col-3 -->
    <div class="col-md-9">
        
      <!-- column 2 --> 
      <ul class="list-inline pull-right">
         <li><a href="#"><i class="glyphicon glyphicon-cog"></i></a></li>
         <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-comment"></i><span class="count">3</span></a><ul class="dropdown-menu" role="menu"><li><a href="#">1. Is there a way..</a></li><li><a href="#">2. Hello, admin. I would..</a></li><li><a href="#"><strong>All messages</strong></a></li></ul></li>
         <li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
         <li><a title="Add Widget" data-toggle="modal" href="#addWidgetModal"><span class="glyphicon glyphicon-plus-sign"></span> Add Widget</a></li>
      </ul>
      <a href="#"><strong><i class="glyphicon glyphicon-book"></i> New Note!</strong></a>  
      
        <div class="row">
           <!-- center left--> 
              <ul id="myList"></ul>             
              <!--tabs-->
              <div class="container">
                <div class="col-md-4">
                </div>
              </div>  
               
              <!--/tabs-->
              
              <hr>
              
            </div><!--/col-->
            <div class="col-md-6">   
            <form action="{{=URL()}}" method="post" id="note_form" class="form-horizontal">
            <div class="input-group">
            <span class="input-group-addon">Title</span>
            <input type="text" class="form-control" placeholder="Enter Title Here!" name="title" autocomplete="off">
            </div><br>
            <div class="input-group">
  <span class="input-group-addon">Tags</span>
  <input type="text" class="form-control" placeholder="Will Help You in Searching" name="tags" autocomplete="off" id="tags">
</div><br><br>
            <a href="#"><strong><i class="glyphicon glyphicon-pencil"></i>Content</strong></a> <textarea name="content" class="form-control"></textarea><br/><br/>
            <div class="btn-group">
  <button type="button" class="btn btn-primary" id="color_index">Color</button>
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="hello">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#" onclick="call(1)">Blue</a></li>
    <li><a href="#" onclick="call(2)">Green</a></li>
    <li><a href="#" onclick="call(3)">Yellow</a></li>
  </ul>
</div><br><br>
            Reminder <input type="checkbox" name="alarm" onclick="make()"/><br>
            <div id="check"><br>
            <div class="input-group">
            <span class="input-group-addon">Date</span>
            <input type="text" class="form-control" placeholder="dd-mm-yy" name="n_date" id="a1" onkeyup="avinash()">
            </div>
            <span id="format"> Format: dd-mm-yy </span><br><br>
            <div class="input-group">
            <span class="input-group-addon">Time</span>
            <input type="text" class="form-control" placeholder="hr-mm" name="n_time" id="a2" onkeyup="raviraja()">
            </div>
            <span id="time"> Format: hr-mm </span><br><br>
            <div class="input-group">
            <span class="input-group-addon">Msg</span>
            <input type="text" class="form-control" placeholder="Msg Here" name="n_msg" >
            </div>
            <input id="hide" name="color" value="0"><br>
            </form> 
            </div><!--/col-span-6-->
            <br>
            <button value="InputIn" name="SubmitSecond" id="tryit" class="btn btn-primary" onclick="store()">Finish !</button>
      </div><!--/row-->
    </div><!--/col-span-9-->
</div>
</div>
<!-- /Main -->

<footer class="text-center">This Bootstrap 3 dashboard layout is compliments of <a href="http://www.bootply.com/85850"><strong>Bootply.com</strong></a></footer>

<div class="modal" id="addWidgetModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Add Widget</h4>
      </div>
      <div class="modal-body">
        <p>Add a widget stuff here..</p>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn">Close</a>
        <a href="#" class="btn btn-primary">Save changes</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dalog -->
</div><!-- /.modal -->



  
        
        <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


        <script type='text/javascript' src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>





        
        <!-- JavaScript jQuery code from Bootply.com editor -->
        
        <script type='text/javascript'>       
function create()
{
  localStorage.setItem("notes_storage","{'notes':[]}");
  alert("ok");
}
function store()
{
  n=eval("("+localStorage["notes_storage"]+")");
  a={};
  if(n["notes"].length!=0)
    a["id"]=n["notes"][n["notes"].length-1]["id"]+1;
  else
    a["id"]=1;
  a["title"]=document.getElementsByName("title")[0].value;
  a["tags"]=document.getElementsByName("tags")[0].value;
  a["content"]=JSON.stringify((document.getElementsByName("content")[0].value).split("\n"));
  n["notes"].push(a);
  localStorage.setItem("notes_storage",JSON.stringify(n));
  window.location="./note_viewing.html";
}
//create();
        </script>
        
    </body>
</html>
