<html>
	<head>
		<link rel="stylesheet" href="{{=URL('static','css/disp_note.css')}}"></link>
	</head>
	<body>
	<h3>Output form</h3>
	{{for i in session.test:}}
	<form action="new_note.html" method="post" enctype="multipart/form-data">
	<a href="" name="asd" value="qwe" >
		Title : <input type="text" name="title" value="{{=i.Title}}" />
		Tags : <input type="text" name="tags" value="{{=i.Tags}}" />
		Text : <textarea name="content" > {{=i.Text}} </textarea>
		<input id="edit" type="submit" name={{=i.id}} value="EDIT{{=i.id}}" />
	</a>
	</form>
	<br> <br>
	{{pass}}
	</body>