<html>
	<head>
		<link rel="stylesheet" href="{{=URL('static','css/new_note.css')}}"></link>
	</head>
	<body>
		<h3>Input Form</h3>
		<form action="#" method="post" enctype="multipart/form-data">
			Title : <input type="text" name="title" /> <br>
			Tags : <input type="text" name="tags" /> <br>
			Text : <textarea name="content"></textarea> <br>
			<input type="submit" name="sub" value="SUBMIT" /> <br>
		</form>
		<h2>Submitted variables</h2>
		{{=BEAUTIFY(request.vars)}}
	</body>
</html>
