{{extend 'layout.html'}}
<script type="text/javascript">
function deletion()
{
	alert('hi')
	var xmlhttp;
	if (window.XMLHttpRequest)
	{
		xmlhttp=new XMLHttpRequest();
	}
	else
	{
		xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	}
	xmlhttp.onreadystatechange=function()
	{
		if (xmlhttp.readyState==4 && xmlhttp.status==200)
		{
			alert("done")
			y = xmlhttp.responseText;
			if (y == "true")
			{
				xmlhttp.open("GET",)
			}
		}
	}
	//get element by id and i have the date when i have to send the message and time also\
	xmlhttp.open("GET","./check?common=check&date=11:04:14",true);
	xmlhttp.send();
}
</script>
{{=form}}
<body onload="deletion()">
</body>