<head>
	<script src="{{=URL('static', 'scripts/actb.js')}}"></script>
	<script src="{{=URL('static', 'scripts/common.js')}}"></script>
</head>

<form action="{{=URL()}}" method="post">
	<t>Title: </t><input  value="{{=session.title}}" name="title" autocomplete="off"/><br/><br/>
	<tags>Tags: </tags><input id="tags" value="{{=session.tags}}" name="tags" autocomplete="off"/><br/><br/>
	<content>Content: </content><textarea name="content">{{=session.content}}</textarea><br/><br/>
	Remainder : <input type="checkbox" name="alarm" onclick="make()" checked="true"/><br><br>
	Date: <input type="text" name="n_date" onkeyup="avinash()" id="a1" value="{{=session.date}}"> <span id="format"> Format: dd-mm-yy </span> <br><br>
    Time: <input type="text" name="n_time" onkeyup="raviraja()" value="{{=session.time}}" id="a2" > <span id="time"> Format: hr:mm </span> <br><br>
    Msg: <input type="text" name="n_msg" value="{{=session.msg}}"><br><br>
	<input type="submit" value="InputIn" name="SubmitSecond" />
</form>

<script>
function make(){
        l = document.getElementById('check').style.display
        console.log(l)
        if (l == "none" || l==""){
        document.getElementById('check').style.display="block";
        document.getElementById('sub').value="Remainder"
        }
        else{
         document.getElementById('check').style.display="none";
         document.getElementById('sub').value="InputIn"   
        }

    }
    function call(n){
        document.getElementById('hide').value=n
    }
    function avinash(){
        l=document.getElementById('a1').value 
        l = String(l)
        array=l.split("-")
        if (array.length == 3)
        {
            day = array[0]
            month = array[1]
            year = array[2]
            day = Number(day)
            month = Number(month)
            year = Number(year)
            k = 0
            if ((array[0].length>0) && (array[1].length>0) && (array[2].length>0))
            {
                k = 1 
            }
            if ((day <= 31 && day>=1) && (month<=12 && month>=1) && (k==1))
            {
                document.getElementById("format").innerHTML="Valid Format"
            }
            else
            {
                document.getElementById("format").innerHTML = "Invalid Date - Format: dd-mm-yy "
            }
        }
        else
        {
            document.getElementById("format").innerHTML="Invalid Date - Format: dd-mm-yy"
        }
    }
    function raviraja(){
        l = document.getElementById("a2").value
        l = String(l)
        console.log(l)
        array = l.split(":")
        console.log(array.length)
        if (array.length==2)
        {
            console.log("if case")
            hr = Number(array[0])
            min = Number(array[1])
            k = 0
            if ((array[0].length>0) && (array[1].length>0))
            {
                k = 1 
            }
            if ((hr>=0 && hr<24) && (min>=0 && min<=60) && (k==1))
            {
                document.getElementById("time").innerHTML="Valid Format"   
            }
            else
            {
                document.getElementById("time").innerHTML = "Invalid Date - Format: hr:min"         

            }
        }
        else
        {
            console.log("else case")
            document.getElementById("time").innerHTML = "Invalid Date - Format: hr:min"
        }
    }
	function taglists()
	{
		var xmlhttp;
		if (window.XMLHttpRequest)
		{
			xmlhttp=new XMLHttpRequest();
		}
		else
		{
			xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
		}
		xmlhttp.onreadystatechange=function()
		{
			if (xmlhttp.readyState==4 && xmlhttp.status==200)
			{
				y=xmlhttp.responseText;
				n=eval("("+y+")");
				var tag_array=n["tags"];
				var obj=actb(document.getElementById('tags'),tag_array);
			}
		}
		xmlhttp.open("GET","./get_tags.html",true);
		xmlhttp.send();
	}
	taglists();
</script>