<!DOCTYPE html>
<html>
<head>
    <title>NoteKeeper</title>
        <link rel="stylesheet" href="{{=URL('static', 'css/notes.css')}}"></link>
<script type="text/javascript">
function deletion(id)
{
	var xmlhttp;
	if (window.XMLHttpRequest)
	{
		xmlhttp=new XMLHttpRequest();
	}
	else
	{
		xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	}
	xmlhttp.onreadystatechange=function()
	{
		if (xmlhttp.readyState==4 && xmlhttp.status==200)
		{
			list=document.getElementById("myList");
			a=document.getElementById(id);
			list.removeChild(a);
		}
	}
	xmlhttp.open("GET","./note_viewing.html?delete_id="+id,true);
	xmlhttp.send();
}
function lists()
{
	var ti=document.getElementById("title").value
	var ta=document.getElementById("tags").value
	var co=document.getElementById("content").value
	var xmlhttp;
	if (window.XMLHttpRequest)
	{
		xmlhttp=new XMLHttpRequest();
	}
	else
	{
		xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	}
	xmlhttp.onreadystatechange=function()
	{
		if (xmlhttp.readyState==4 && xmlhttp.status==200)
		{	
			var list=document.getElementById("myList");
			list.remove();
			list=document.createElement("ul");
			list.id="myList";
			document.getElementById("note_list").appendChild(list);
			y=xmlhttp.responseText;
      n=eval("("+y+")");
      var node, nodeb, textnode, nodea, nodeh, nodep1, nodep2;
      for(i=0;i<n["number"];i++)
      {
        node=document.createElement("li");
        node.id=n["notes"][i]["id"];
        if (n["notes"][i]["color"] == 1)
        { 
          node.style.background = "#39B3D7"
        }
        else if(n["notes"][i]["color"] == 2)
        {
          node.style.background = "#99FF66"
        }
        else if(n["notes"][i]["color"] == 3)
        {
          node.style.background = "#FFFF66"
        }
        nodeb=document.createElement("a");
        nodeb.setAttribute('data-id', n["notes"][i]["id"]);
        nodeb.id="x";
        nodeb.addEventListener('click', function() {
          deletion( parseInt( this.getAttribute('data-id') ) );
        });
        textnode=document.createTextNode("X");
        nodeb.appendChild(textnode);
        node.appendChild(nodeb);

        nodea=document.createElement("a");

        nodeh=document.createElement("h2");
        textnode=document.createTextNode(n["notes"][i]["title"]);
        nodeh.appendChild(textnode);
        nodeh.style.fontWeight="bold";

        nodep1=document.createElement("p");
        textnode=document.createTextNode(n["notes"][i]["tags"]);
        nodep1.appendChild(textnode);
        nodep1.style.fontStyle="italic";
        nodep1.style.color="#222";

        nodep2=document.createElement("p");
        text=eval("("+n["notes"][i]["content"]+")");
        for(j=0;j<text.length;j++)
        {
          textnode=document.createTextNode(text[j]);
          nodep2.appendChild(textnode);
          nodep2.appendChild(document.createElement("br"));
        }

        var nodep3=document.createElement("p");
        nodep3.id = "float";
        textnode=document.createTextNode("Date Modified :"+n["notes"][i]["modified"])
        nodep3.appendChild(textnode)

        nodea.appendChild(nodeh);
        nodea.appendChild(nodep1);
        nodea.appendChild(nodep2);
        nodea.appendChild(nodep3);

        nodea.href="./note_editing.html?view_id="+n["notes"][i]["id"];
        node.appendChild(nodea);
        document.getElementById("myList").appendChild(node);
		}		
	  }
	}
	xmlhttp.open("GET","./note_search.html?title="+ti+"&tags="+ta+"&content="+co,true);
	xmlhttp.send();
}
</script>
    
<link href="{{=URL('static','css/bootstrap.min1.css')}}" rel="stylesheet"></link>
          <script src="{{=URL('static', 'js/actb.js')}}"></script>
          <script src="{{=URL('static', 'js/common.js')}}"></script>

<style type="text/css">
            .navbar-static-top {
  margin-bottom:20px;
}

i {
  font-size:16px;
}

.nav > li > a {
  color:#787878;
}
  
footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
  position: absolute;
  bottom: -300px;
  width: 100%;
  text-align: center;
}

/* count indicator near icons */
.nav>li .count {
  position: absolute;
  bottom: 12px;
  right: 6px;
  font-size: 10px;
  font-weight: normal;
  background: rgba(51,200,51,0.55);
  color: rgba(255,255,255,0.9);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/* indent 2nd level */
.list-unstyled li > ul > li {
   margin-left:10px;
   padding:8px;
}
        </style>
</head>
    
    <!-- HTML code from Bootply.com editor -->
 <body>
        
        <!-- Header -->
<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-toggle"></span>
      </button>
      <a class="navbar-brand" href="">NoteKeeper</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> Hello {{=l}} 
          <ul id="g-account-menu" class="dropdown-menu" role="menu">
            <li><a href="user/profile">My Profile</a></li>
          </ul>
        </li>
        <li><a href="user/logout"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
      </ul>
    </div>
  </div><!-- /container -->
</div>
<!-- /Header -->

<!-- Main -->
<div class="container">
<div class="row">
    <div class="col-md-3">
      <!-- Left column -->
      <ul class="list-unstyled">
        <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#userMenu">
          <strong> Features <i class="glyphicon glyphicon-chevron-down"></i>
          </strong></a>
            <ul class="list-unstyled collapse in" id="userMenu">
                <li class="active"> <a href="note_viewing"><i class="glyphicon glyphicon-home"></i> Home</a></li>
                <li><a href="todolist"><i class="glyphicon glyphicon-list-alt"></i> TodoList </a></li>
                <li><a href="upload"><i class="glyphicon glyphicon-upload"></i> Upload Note </a></li>
                <li><a href="Download"><i class="glyphicon glyphicon-download"></i> Offline Version </a></li>
            </ul>
        </li>
        <li class="nav-header">
        <a href="#" data-toggle="collapse" data-target="#menu3">
          <h5>Social Media <i class="glyphicon glyphicon-chevron-right"></i></h5>
          </a>
        
            <ul class="list-unstyled collapse" id="menu3">
                <li><a href="www.facebook.com"><i class="glyphicon glyphicon-circle"></i> Facebook</a></li>
                <li><a href="www.twitter.com"><i class="glyphicon glyphicon-circle"></i> Twitter</a></li>
            </ul>
        </li>
      </ul>
      
      <hr>
  	</div><!-- /col-3 -->
    <div class="col-md-9">
      	
      <a href=""><strong><i class="glyphicon glyphicon-dashboard"></i> Search for Notes</strong></a>  
      <hr>
    <div class="row">
        <div class="col-md-6">
            <form id="back_form" action="" method="post">
            </form>
        <button form="back_form" value="Back" name="Back" class="btn btn-primary">Back</button><br><br>
        <form action="" method="post">
         <div class="input-group">
            <span class="input-group-addon">Title</span>
            <input type="text" class="form-control" id="title" onkeyup="lists()" autocomplete="off">
            </div><br><br>
            <div class="input-group">
            <span class="input-group-addon">Tags</span>
            <input type="text" class="form-control" id="tags" onkeyup="lists()" autocomplete="off">
            </div><br><br>
            <div class="input-group">
            <span class="input-group-addon">Content</span>
            <input type="text" class="form-control" id="content" onkeyup="lists()" autocomplete="off">
            </div>
        </form>
        <br><br>
        </div>
    </div>
    </div>

</div>
</div>
<!-- /Main -->

<div id="note_list">
<ul id="myList">
</ul>
</div>
     
<footer class="text-center">Powered By <strong>The Mystic &copy </strong></footer>

    <script>
	function taglists()
	{
		var xmlhttp;
		if (window.XMLHttpRequest)
		{
			xmlhttp=new XMLHttpRequest();
		}
		else
		{
			xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
		}
		xmlhttp.onreadystatechange=function()
		{
			if (xmlhttp.readyState==4 && xmlhttp.status==200)
			{
				y=xmlhttp.responseText;
				n=eval("("+y+")");
				var tag_array=n["tags"];
				var obj=actb(document.getElementById('tags'),tag_array);
			}
		}
		xmlhttp.open("GET","./get_tags.html",true);
		xmlhttp.send();
	}
	taglists();
</script>
</body>
</html>
