<script type="text/javascript">
        function avinash(){
        l=document.getElementById('a1').value 
        l = String(l)
        array=l.split("-")
        if (array.length == 3)
        {
            day = array[0]
            month = array[1]
            year = array[2]
            day = Number(day)
            month = Number(month)
            year = Number(year)
            k = 0
            if ((array[0].length>0) && (array[1].length>0) && (array[2].length>0))
            {
                k = 1 
            }
            if ((day <= 31 && day>=1) && (month<=12 && month>=1) && (k==1))
            {
                document.getElementById("format").innerHTML="Valid Format"
            }
            else
            {
                document.getElementById("format").innerHTML = "Invalid Date - Format: dd-mm-yy "
            }
        }
        else
        {
            document.getElementById("format").innerHTML="Invalid Date - Format: dd-mm-yy"
        }
    }
    function raviraja(){
        l = document.getElementById("a2").value
        l = String(l)
        console.log(l)
        array = l.split(":")
        console.log(array.length)
        if (array.length==2)
        {
            console.log("if case")
            hr = Number(array[0])
            min = Number(array[1])
            k = 0
            if ((array[0].length>0) && (array[1].length>0))
            {
                k = 1 
            }
            if ((hr>=0 && hr<24) && (min>=0 && min<=60) && (k==1))
            {
                document.getElementById("time").innerHTML="Valid Format"   
            }
            else
            {
                document.getElementById("time").innerHTML = "Invalid Date - Format: hr:min"         

            }
        }
        else
        {
            console.log("else case");
            document.getElementById("time").innerHTML = "Invalid Date - Format: hr:min"
        }
    }
</script>
<form action="{{=URL()}}" method="post">
    Date: <input type="text" name="n_date" onkeyup="avinash()" id="a1" > <span id="format"> Format: dd-mm-yy </span> <br><br>
    Time: <input type="text" name="n_time" onkeyup="raviraja()" id="a2" > <span id="time"> Format: hr:mm </span> <br><br>
    Msg: <input type="text" name="n_msg"><br><br>
    <input type="submit" value="Remind Me" name="SubmitSecond" id="sub"/>
</form> 