{{extend 'layout.html'}}
{{=response.vars}}
<script>
function check()
{
	var x = document.getElementById('c1')
	s1=String(x.value)
	var y = document.getElementById('c2')
	s2=String(y.value)
	var z = document.getElementById('typo')
	if(s1==s2)
	{
		z.innerHTML='Passwords Match'
	}
	else
	{
		z.innerHTML='Passwords Do Not Match'
	}
}
</script>
<style>
#typo
{
	padding-left: 125px;
}
</style>
<form method='post'>
	<br>
	<h2> Register For Free ! </h2>
	<br><br>
	Username:         <input type='text' name="username" value={{=session.val}}><br>
	Password: 		  <input type='password' name="passw1" id='c1'><br>
	Confirm Password: <input type='password' name="passw2" onchange='check()' id='c2'><br>
	<p id='typo'>Enter Password Again for Conformation</p>
	Email: <input type='email' name="address"><br>
	<input type='submit' name='submit' value='Register'>
</form>
{{='Hits Today '}}{{=counter}}