<html>
<head>
	<title>NoteKeeper</title>
    <script type="text/javascript">
        function delitem(n)
        {
            var http=new XMLHttpRequest();
            http.open("GET","./removelist?n="+n,true);
            http.send();
            runajax();
        }
        function save(n)
        {
            var inp=document.getElementById(n);
            var para=document.getElementById("p"+n);
            if(inp.checked==true)
                para.style.textDecoration="line-through";
            else
                para.style.textDecoration="none";
            var http=new XMLHttpRequest();
            http.open("GET","./updatelist?n="+n+"&checked="+inp.checked,true);
            http.send();
        }
        function runajax()
        {
            var http=new XMLHttpRequest();
            http.onreadystatechange=function()
            {
                if(http.readyState==4)
                {
                    document.getElementById("tasks").innerHTML=http.responseText;
                }
            }
            http.open("GET","./todolistprint",true);
            http.send();
        }
        window.addEventListener("load",runajax);
        window.addEventListener("load",save);
    </script>
    <link href="{{=URL('static','css/bootstrap.min1.css')}}" rel="stylesheet">
          <script src="{{=URL('static', 'js/actb.js')}}"></script>
          <script src="{{=URL('static', 'js/common.js')}}"></script>
<style type="text/css">
            .navbar-static-top {
  margin-bottom:20px;
}

i {
  font-size:16px;
}

.nav > li > a {
  color:#787878;
}
  
footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
  position: absolute;
  bottom: -300px;
  width: 100%;
  text-align: center;
}

/* count indicator near icons */
.nav>li .count {
  position: absolute;
  bottom: 12px;
  right: 6px;
  font-size: 10px;
  font-weight: normal;
  background: rgba(51,200,51,0.55);
  color: rgba(255,255,255,0.9);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/* indent 2nd level */
.list-unstyled li > ul > li {
   margin-left:10px;
   padding:8px;
}
        </style>
    </head>
    
    <!-- HTML code from Bootply.com editor -->
 <body>
        
        <!-- Header -->
<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-toggle"></span>
      </button>
      <a class="navbar-brand" href="">NoteKeeper</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> Hello {{=l}} 
          <ul id="g-account-menu" class="dropdown-menu" role="menu">
            <li><a href="user/profile">My Profile</a></li>
          </ul>
        </li>
        <li><a href="user/logout"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
      </ul>
    </div>
  </div><!-- /container -->
</div>
<!-- /Header -->

<!-- Main -->
<div class="container">
<div class="row">
    <div class="col-md-3">
      <!-- Left column -->
      <ul class="list-unstyled">
        <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#userMenu">
          <strong> Features <i class="glyphicon glyphicon-chevron-down"></i>
          </strong></a>
            <ul class="list-unstyled collapse in" id="userMenu">
                <li class="active"> <a href="note_viewing"><i class="glyphicon glyphicon-home"></i> Home</a></li>
                <li><a href="todolist"><i class="glyphicon glyphicon-list-alt"></i> TodoList </a></li>
                <li><a href="upload"><i class="glyphicon glyphicon-upload"></i> Upload Note </a></li>
                <li><a href="Download"><i class="glyphicon glyphicon-download"></i> Offline Version </a></li>
            </ul>
        </li>
        <li class="nav-header">
        <a href="#" data-toggle="collapse" data-target="#menu3">
          <h5>Social Media <i class="glyphicon glyphicon-chevron-right"></i></h5>
          </a>
        
            <ul class="list-unstyled collapse" id="menu3">
                <li><a href="www.facebook.com"><i class="glyphicon glyphicon-circle"></i> Facebook</a></li>
                <li><a href="www.twitter.com"><i class="glyphicon glyphicon-circle"></i> Twitter</a></li>
            </ul>
        </li>
      </ul>
      
      <hr>
  	</div><!-- /col-3 -->
    <div class="col-md-9">
      	
      <a href=""><strong><i class="glyphicon glyphicon-dashboard"></i> To-Do List</strong></a>  
      <hr>
    <div class="row">
        <div class="col-md-9">
        <form action="" method="post" id="tdl_form">
             <input type="text" name="content" class="form-control" />
        </form>
            <span style="position:absolute; top:0px; left:660px;"><button form="tdl_form" value="Add to List" name="sub" class="btn btn-primary">Add To List !</button></span>
        
        </div>
    </div>
            <br><br>
    <p id="tasks"></p>
    </div>

</div>
</div>
<!-- /Main -->
     
<footer class="text-center">Powered By <strong>The Mystic &copy </strong></footer>
     
</body>
</html>
