body
{
	background-color:lightblue;
}
h1
{
	display:block;
	position :absolute;
	color:black;
	background-color:red;
}
div#login
{
	display:inline-block;
	position:relative;
	left:80%;
	background-color:blue;
}
