#myList h2,p{
  font-size:150%;
  font-weight:normal;
}
ul#myList li a h2{
  text-decoration: underline;
  text-transform: uppercase;
  text-align: center;
}
#float{
  position: relative;
  float: left;
  font-size: 15px;
}
ul#myList,li{
  list-style:none;
  overflow: hidden;
}
ul#myList{
  overflow:hidden;
  padding:5em;
}
#x
{
  position: relative;
  float: right;
}
ul#myList li{
  color:#000;
  background:#ffc;
  display:block;
  padding:1em;
  -moz-box-shadow:5px 5px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 5px 5px 7px rgba(0,0,0,.7);
  box-shadow: 5px 5px 7px rgba(0,0,0,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}
ul#myList li a{
  text-decoration: none;
  overflow: hidden;
  color: #000;
  padding-bottom: 3em;
}
ul#myList li button{
  float: right;
}
ul#myList li{
  margin:2em;
  float:left;
}
ul#myList li:hover,ul#myList li:focus{
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
  position:relative;
  z-index:5;
}
ul#myList li:nth-child(2n){
  -o-transform:scale(1) rotate(4deg);
  -webkit-transform:scale(1) rotate(4deg);
  -moz-transform:scale(1) rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}
ul#myList li:nth-child(2n):hover{
  -o-transform:scale(1.25) rotate(4deg);
  -webkit-transform:scale(1.25) rotate(4deg);
  -moz-transform:scale(1.25) rotate(4deg);
}
ul#myList li:nth-child(3n){
  -o-transform:rotate(-5deg);
  -webkit-transform:rotate(-5deg);
  -moz-transform:rotate(-5deg);
  position:relative;
  top:-5px;
  background:#ccf;
}
ul#myList li:nth-child(3n):hover{
  -o-transform:rotate(-5deg) scale(1.25);
  -webkit-transform:rotate(-5deg) scale(1.25);
  -moz-transform:rotate(-5deg) scale(1.25);
}