{{extend 'layout.html'}}

<script type="text/javascript">
function view(id)
{
	var xmlhttp;
	if (window.XMLHttpRequest)
	{
		xmlhttp=new XMLHttpRequest();
	}
	else
	{
		xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	}
	xmlhttp.open("GET","./note_editing.html?view_id="+id,true);
	xmlhttp.send();
}
function deletion(id)
{
	var xmlhttp;
	if (window.XMLHttpRequest)
	{
		xmlhttp=new XMLHttpRequest();
	}
	else
	{
		xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	}
	xmlhttp.onreadystatechange=function()
	{
		if (xmlhttp.readyState==4 && xmlhttp.status==200)
		{
			window.location.reload();
		}
	}
	xmlhttp.open("GET","./note_viewing.html?delete_id="+id,true);
	xmlhttp.send();
}
</script>

<form action="{{=URL()}}" method="post">
	<input type="submit" value="Insert" name="Submition" />
</form>

<form action="{{=URL()}}" method="post">
	<input type="submit" value="DeleteAll" name="DeletionSubmit" />
</form>
<br/>

{{rows = db(db.notes.id>0).select()}}
{{ for i in rows: }}
<div id="note">
	<a href="./note_editing.html" onClick=view({{=i.id}})>
		<h2>{{=i.title}}</h2>
		<p>{{=i.content}}</p>
	</a>
	<button onClick=deletion({{=i.id}})>Deletion</button>
</div>
{{pass}}
