{{extend 'layout.html'}}
<form action="{{=URL()}}" method="post">
	<t>Title: </t><input name="title" /><br/><br/>
	<content>Content: </content><input name="content" /><br/><br/>
	<input type="submit" value="InputIn" name="SubmitSecond" />
</form>
