{{extend 'layout.html'}}
<form action="{{=URL()}}" method="post">
	<p>{{=session.title}}</p>
	<t>Title: </t><input  value="{{=session.title}}" name="title" ><br/><br/>
	<content>Content: </content><input value="{{=session.content}}" name="content" ><br/><br/>
	<input type="submit" value="InputIn" name="SubmitSecond" />
</form>
