{{extend 'hybrid.html'}}

<head>
    <link rel="stylesheet" href="{{=URL('static','css/notes.css')}}"></link>
</head>

<script type="text/javascript">
function deletion(id)
{
	alert("a");
	alert(id);
	var xmlhttp;
	if (window.XMLHttpRequest)
	{
		xmlhttp=new XMLHttpRequest();
	}
	else
	{
		xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	}
	xmlhttp.onreadystatechange=function()
	{
		if (xmlhttp.readyState==4 && xmlhttp.status==200)
		{
			window.location.reload();
		}
	}
	xmlhttp.open("GET","./note_viewing.html?delete_id="+id,true);
	xmlhttp.send();
}
function lists()
{
	var xmlhttp;
	if (window.XMLHttpRequest)
	{
		xmlhttp=new XMLHttpRequest();
	}
	else
	{
		xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	}
	xmlhttp.onreadystatechange=function()
	{
		if (xmlhttp.readyState==4 && xmlhttp.status==200)
		{
			y=xmlhttp.responseText;
			n=eval("("+y+")");
			var node, nodeb, textnode, nodea, nodeh, nodep1, nodep2;

			for(i=0;i<n["number"];i++)
			{
				node=document.createElement("li");

				nodeb=document.createElement("button");
				nodeb.addEventListener('click', function(e){
					deletion(e);
				});
				textnode=document.createTextNode("X");
				nodeb.appendChild(textnode);
				alert(n["notes"][i]["id"]);
				//nodeb.onclick=function(arg = n["notes"][i]["id"]) { alert(arg);deletion(arg).bind(); };
				node.appendChild(nodeb);

				nodea=document.createElement("a");

				nodeh=document.createElement("h2");
				textnode=document.createTextNode(n["notes"][i]["title"]);
				nodeh.appendChild(textnode);

				nodep1=document.createElement("p");
				textnode=document.createTextNode(n["notes"][i]["tags"]);
				nodep1.appendChild(textnode);

				nodep2=document.createElement("p");
				textnode=document.createTextNode(n["notes"][i]["content"]);
				nodep2.appendChild(textnode);

				nodea.appendChild(nodeh);
				nodea.appendChild(nodep1);
				nodea.appendChild(nodep2);
				nodea.href="./note_editing.html?view_id="+n["notes"][i]["id"];
				node.appendChild(nodea);
				document.getElementById("myList").appendChild(node);
			}		
		}
	}
	xmlhttp.open("GET","./get_notes.html",true);
	xmlhttp.send();
}
lists();
</script>

<form action="{{=URL()}}" method="post">
	<input type="submit" value="Insert" name="Submition" />
</form>

<form action="{{=URL()}}" method="post">
	<input type="submit" value="DeleteAll" name="DeletionSubmit" />
</form>

<form action="{{=URL()}}" method="post">
	<input type="submit" value="Search" name="Search" />
</form>
<br/>

{{rows = db(db.notes.id>0).select()}}
<ul id="myList">
{{ for i in rows: }}
<li>
	<button onclick="alert('hello')">X</button>
	<a href="./note_editing.html?view_id={{=i.id}}">
		<h2>{{=i.n_title}}</h2>
		<p>{{=i.n_tags}}</p>
		<p>{{=i.n_content}}</p>
	</a>
</li>
{{pass}}
</ul>