<title>NoteKeeper - Gps</title>
<meta name="generator" content="Bootply" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="../static/css/bootstrap.min1.css" rel="stylesheet">
<script src="{{=URL('static', 'js/actb.js')}}"></script>
<script src="{{=URL('static', 'js/common.js')}}"></script>
 <body>
        
        <!-- Header -->
<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-toggle"></span>
      </button>
      <a class="navbar-brand" href="#">NoteKeeper</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> Hello {{=l}} 
          <ul id="g-account-menu" class="dropdown-menu" role="menu">
            <li><a href="user/profile">My Profile</a></li>
          </ul>
        </li>
        <li><a href="user/logout"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
      </ul>
    </div>
  </div><!-- /container -->
</div>
<!-- /Header -->

<!-- Main -->
<div class="container">
<div class="row">
	<div class="col-md-3">
      <!-- Left column -->
      <ul class="list-unstyled">
        <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#userMenu">
          <strong> Features <i class="glyphicon glyphicon-chevron-down"></i>
          </strong></a>
            <ul class="list-unstyled collapse in" id="userMenu">
                <li class="active"> <a href="note_viewing"><i class="glyphicon glyphicon-home"></i> Home</a></li>
                <li><a href="note_viewing?DeletionSubmit=DeleteAll"><i class="glyphicon glyphicon-comment"></i> Delete All</a></li>
                <li><a href="upload"><i class="glyphicon glyphicon-upload"></i> Upload Note </a></li>
                <li><a href="Download"><i class="glyphicon glyphicon-download"></i> Offline Version </a></li>
            </ul>
        </li>
        <li class="nav-header">
        <a href="#" data-toggle="collapse" data-target="#menu3">
          <h5>Social Media <i class="glyphicon glyphicon-chevron-right"></i></h5>
          </a>
        
            <ul class="list-unstyled collapse" id="menu3">
                <li><a href="#"><i class="glyphicon glyphicon-circle"></i> Facebook</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-circle"></i> Twitter</a></li>
            </ul>
        </li>
      </ul>
      
      <hr>
  	</div><!-- /col-3 -->
    <div class="col-md-9">
      	
      <!-- column 2 -->	
      <!--<ul class="list-inline pull-right">
         <li><a href="#"><i class="glyphicon glyphicon-cog"></i></a></li>
         <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-comment"></i><span class="count">3</span></a><ul class="dropdown-menu" role="menu"><li><a href="#">1. Is there a way..</a></li><li><a href="#">2. Hello, admin. I would..</a></li><li><a href="#"><strong>All messages</strong></a></li></ul></li>
         <li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
         <li><a title="Add Widget" data-toggle="modal" href="#addWidgetModal"><span class="glyphicon glyphicon-plus-sign"></span> Add Widget</a></li>
      </ul>-->
      <a href="#"><strong><i class="glyphicon glyphicon-dashboard"></i> My Notes</strong></a>  
      <hr>
      
		<div class="row">
           
            
          
            <!-- center left-->	
         	<div class="col-md-6">   
              <form action="{{=URL()}}" method="post">
    Date: <input type="text" name="n_date" onkeyup="avinash()" id="a1" > <span id="format"> Format: dd-mm-yy </span> <br><br>
    Time: <input type="text" name="n_time" onkeyup="raviraja()" id="a2" > <span id="time"> Format: hr:mm </span> <br><br>
    Msg: <input type="text" name="n_msg"><br><br>
    <input type="submit" value="Remind Me" name="SubmitSecond" id="sub"/>
</form> 
              </div>
              <hr>             
              <!--tabs-->
            
      <!--/col-span-6-->
     
      </div><!--/row-->
      </div> 
      <hr>

<!-- /Main -->

<footer class="text-center">Powered By <a><strong>Mystic</strong></a></footer>

        