<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
        <title>Bootply.com - Bootstrap 3 Admin Example</title>
        <meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="../../static/css/bootstrap.min1.css" rel="stylesheet">
        <link rel="stylesheet" href="../../static/css/notes.css"></link>

        <!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <!-- CSS code from Bootply.com editor -->
        <style type="text/css">
            .navbar-static-top {
  margin-bottom:20px;
}

i {
  font-size:16px;
}

.nav > li > a {
  color:#787878;
}
  
footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
}

/* count indicator near icons */
.nav>li .count {
  position: absolute;
  bottom: 12px;
  right: 6px;
  font-size: 10px;
  font-weight: normal;
  background: rgba(51,200,51,0.55);
  color: rgba(255,255,255,0.9);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/* indent 2nd level */
.list-unstyled li > ul > li {
   margin-left:10px;
   padding:8px;
}
        </style>
    </head>
    
    <!-- HTML code from Bootply.com editor -->
    
    <body  >
        
        <!-- Header -->
<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-toggle"></span>
      </button>
      <a class="navbar-brand" href="#">NoteKeeper</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> Hello {{=l}} <span class="caret"></span></a>
          <ul id="g-account-menu" class="dropdown-menu" role="menu">
            <li><a href="user/profile">My Profile</a></li>
          </ul>
        </li>
        <li><a href="user/logout"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
      </ul>
    </div>
  </div><!-- /container -->
</div>
<!-- /Header -->

<!-- Main -->
<div class="container">
<div class="row">
	<div class="col-md-3">
      <!-- Left column -->
      <ul class="list-unstyled">
        <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#userMenu">
          <strong> Features <i class="glyphicon glyphicon-chevron-down"></i>
          </strong></a>
            <ul class="list-unstyled collapse in" id="userMenu">
                <li class="active"> <a href="note_viewing"><i class="glyphicon glyphicon-home"></i> Home</a></li>
                <li><a href="note_viewing"><i class="glyphicon glyphicon-envelope"></i> Inbox <span class="badge badge-info">4</span></a></li>
                <li><a href="note_viewing?DeletionSubmit=DeleteAll"><i class="glyphicon glyphicon-comment"></i> Delete All</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-user"></i> Following </a></li>
                <li><a href="#"><i class="glyphicon glyphicon-flag"></i> Priority </a></li>
                <li><a href="upload"><i class="glyphicon glyphicon-upload"></i> Upload Note </a></li>
                <li><a href="download"><i class="glyphicon glyphicon-download-alt"></i> Download Notes</a></li>
            </ul>
        </li>
        <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#menu2">
          <h5>Reports <i class="glyphicon glyphicon-chevron-right"></i></h5> my 
          </a>
        
            <ul class="list-unstyled collapse" id="menu2">
                <li><a href="#">Information &amp; Stats</a>
                </li>
                <li><a href="#">Views</a>
                </li>
                <li><a href="#">Requests</a>
                </li>
                <li><a href="#">Timetable</a>
                </li>
                <li><a href="#">Alerts</a>
                </li>
            </ul>
        </li>
        <li class="nav-header">
        <a href="#" data-toggle="collapse" data-target="#menu3">
          <h5>Social Media <i class="glyphicon glyphicon-chevron-right"></i></h5>
          </a>
        
            <ul class="list-unstyled collapse" id="menu3">
                <li><a href="#"><i class="glyphicon glyphicon-circle"></i> Facebook</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-circle"></i> Twitter</a></li>
            </ul>
        </li>
      </ul>
           
      <hr>
      
      <a href="#"><strong><i class="glyphicon glyphicon-link"></i> Resources</strong></a>  
      
      <hr>
      
      <ul class="nav nav-pills nav-stacked">
        <li class="nav-header"></li>
        <li><a href="#"><i class="glyphicon glyphicon-list"></i> Layouts &amp; Templates</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-briefcase"></i> Toolbox</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-link"></i> Widgets</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-list-alt"></i> Reports</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-book"></i> Pages</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-star"></i> Social Media</a></li>
      </ul>
      
      <hr>
  	</div><!-- /col-3 -->
    <div class="col-md-9">
      	
      <!-- column 2 -->	
      <ul class="list-inline pull-right">
         <li><a href="#"><i class="glyphicon glyphicon-cog"></i></a></li>
         <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-comment"></i><span class="count">3</span></a><ul class="dropdown-menu" role="menu"><li><a href="#">1. Is there a way..</a></li><li><a href="#">2. Hello, admin. I womluld..</a></li><li><a href="#"><strong>All messages</strong></a></li></ul></li>
         <li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
         <li><a title="Add Widget" data-toggle="modal" href="#addWidgetModal"><span class="glyphicon glyphicon-plus-sign"></span> Add Widget</a></li>
      </ul>
      <a href="#"><strong><i class="glyphicon glyphicon-dashboard"></i> My Notes</strong></a>  
      <hr>
      
		<div class="row">
           
            
          
            <!-- center left-->	
         	<div class="col-md-6">   
              <div class="btn-group btn-group-justified">
                <a href="./note_making.html" class="btn btn-primary col-sm-3">
                  <i class="glyphicon glyphicon-pencil"></i><br>
                  New Note
                </a>
                <a href="note_viewing?Search=Search" class="btn btn-primary col-sm-3">
                  <i class="glyphicon glyphicon-search"></i><br>
                  Search
                </a>
                <a href="set_alarm" class="btn btn-primary col-sm-3">
                  <i class="glyphicon glyphicon-bell"></i><br>
                  Alarms
                </a>
                <a href="#" class="btn btn-primary col-sm-3">
                  <i class="glyphicon glyphicon-th-list"></i><br>
                  To-Do
                </a>
              </div>
              <hr>             
              <!--tabs-->
              <div class="container">
                <div class="col-md-4">
                <ul class="nav nav-tabs" id="myTab">
                  <li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
                  <li><a href="#messages" data-toggle="tab">Messages</a></li>
                  <li><a href="#settings" data-toggle="tab">Settings</a></li>
                </ul>
                
                <div class="tab-content">
                  <div class="tab-pane active" id="profile">
                    <h4><i class="glyphicon glyphicon-user"></i></h4>
                    Lorem profile dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                    <p>Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero dfdkj.</p>
                  </div>
                  <div class="tab-pane" id="messages">
                    <h4><i class="glyphicon glyphicon-comment"></i></h4>
                    Message ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                    <p>Quisque mauris augu.</p>
                  </div>
                  <div class="tab-pane" id="settings">
                    <h4><i class="glyphicon glyphicon-cog"></i></h4>
                    Lorem settings dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                    <p>Quisque mauris augue, molestie.</p>
                  </div>
                </div>
              	</div>
              </div>  
              <ul id="myList"></ul>
              
          	</div>
        	<div class="col-md-6">          
              
              <div class="panel panel-default">
                  <div class="panel-heading"><h4>Reports</h4></div>
                  <div class="panel-body">
                    
                    <small>Tasks Today</small>
                    <div class="progress">
                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                        <span class="sr-only">72% Complete</span>
                      </div>
                    </div>
                    <small>In this week</small>
                    <div class="progress">
                      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                        <span class="sr-only">20% Complete</span>
                      </div>
                    </div>
                    <small>In this Month</small>
                    <div class="progress">
                      <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                        <span class="sr-only">60% Complete (warning)</span>
                      </div>
                    </div>
                    <small>Tasks Pending</small>
                    <div class="progress">
                      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                        <span class="sr-only">80% Complete</span>
                      </div>
                    </div>

                  </div><!--/panel-body-->
              </div><!--/panel-->
  
			   </div><!--/col-span-6-->
     
      </div><!--/row-->
      
      <hr>
      
      <a href="#"><strong><i class="glyphicon glyphicon-comment"></i> Discussions</strong></a>  
      
      <hr>
      
      <div class="row">
        <div class="col-md-12">
          <ul class="list-group">
            <li class="list-group-item"><a href="#"><i class="glyphicon glyphicon-flash"></i> <small>(3 mins ago)</small> The 3rd page reports don't contain any links. Does anyone know why..</a></li>
            <li class="list-group-item"><a href="#"><i class="glyphicon glyphicon-flash"></i> <small>(1 hour ago)</small> Hi all, I've just post a report that show the relationship betwe..</a></li>
            <li class="list-group-item"><a href="#"><i class="glyphicon glyphicon-heart"></i> <small>(2 hrs ago)</small> Paul. That document you posted yesterday doesn't seem to contain the over..</a></li>
            <li class="list-group-item"><a href="#"><i class="glyphicon glyphicon-heart-empty"></i> <small>(4 hrs ago)</small> The map service on c243 is down today. I will be fixing the..</a></li>
            <li class="list-group-item"><a href="#"><i class="glyphicon glyphicon-heart"></i> <small>(yesterday)</small> I posted a new document that shows how to install the services layer..</a></li>
            <li class="list-group-item"><a href="#"><i class="glyphicon glyphicon-flash"></i> <small>(yesterday)</small> ..</a></li>
          </ul>
        </div>
      </div>
  	</div><!--/col-span-9-->
</div>
</div>
<!-- /Main -->

<footer class="text-center">This Bootstrap 3 dashboard layout is compliments of <a href="http://www.bootply.com/85850"><strong>Bootply.com</strong></a></footer>

<div class="modal" id="addWidgetModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Add Widget</h4>
      </div>
      <div class="modal-body">
        <p>Add a widget stuff here..</p>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn">Close</a>
        <a href="#" class="btn btn-primary">Save changes</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dalog -->
</div><!-- /.modal -->



  
        
        <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


        <script type='text/javascript' src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>





        
        <!-- JavaScript jQuery code from Bootply.com editor -->
        
        <script type="text/javascript">
        function deletion(id)
        {
        	n=eval("("+localStorage["notes_storage"]+")");
			arr=n["notes"];
			for(i=0;i<arr.length;i++)
			{
				if(arr[i]["id"]==id)
				{
					arr.splice(arr[i],1);
					break;
				}
			}
			n["notes"]=arr;
			localStorage.setItem("notes_storage",JSON.stringify(n));
            window.location.reload();
         }
         function editing(id)
         {
         	sessionStorage.setItem("ed_id",id);
         	window.location="./note_editing.html";
         }
  function lists()
  {
      y=localStorage["notes_storage"];
      n=eval("("+y+")");
      console.log(n);
      var node, nodeb, textnode, nodea, nodeh, nodep1, nodep2, nodep3;
      for(i=0;i<n["notes"].length;i++)
      {
        node=document.createElement("li");
        node.id=n["notes"][i]["id"];
        if (n["notes"][i]["color"] == 1)
        { 
          node.style.background = "#39B3D7"
        }
        else if(n["notes"][i]["color"] == 2)
        {
          node.style.background = "#99FF66"
        }
        else if(n["notes"][i]["color"] == 3)
        {
          node.style.background = "#FFFF66"
        }
        nodeb=document.createElement("a");
        nodeb.setAttribute('data-id', n["notes"][i]["id"]);
        nodeb.id="x";
        nodeb.addEventListener('click', function() {
          deletion( parseInt( this.getAttribute('data-id') ) );
        });
        textnode=document.createTextNode("X");
        nodeb.appendChild(textnode);
        node.appendChild(nodeb);

        nodea=document.createElement("a");

        nodeh=document.createElement("h2");
        textnode=document.createTextNode(n["notes"][i]["title"]);
        nodeh.appendChild(textnode);

        nodep1=document.createElement("p");
        textnode=document.createTextNode(n["notes"][i]["tags"]);
        nodep1.appendChild(textnode);

        nodep2=document.createElement("p");
        text=eval("("+n["notes"][i]["content"]+")");
        for(j=0;j<text.length;j++)
        {
          textnode=document.createTextNode(text[j]);
          nodep2.appendChild(textnode);
          nodep2.appendChild(document.createElement("br"));
        }

        nodep3=document.createElement("p")
        nodep3.id = "float"
        textnode=document.createTextNode("Date Modified :"+n["notes"][i]["modified"])
        nodep3.appendChild(textnode)

        nodea.appendChild(nodeh);
        nodea.appendChild(nodep1);
        nodea.appendChild(nodep2);
        nodea.appendChild(nodep3);

//        nodea.href="./note_editing.html?view_id="+n["notes"][i]["id"];
        nodea.setAttribute('data-id', n["notes"][i]["id"]);
        nodea.addEventListener('click', function() {
          editing( parseInt( this.getAttribute('data-id') ) );
        });
        node.appendChild(nodea);
        console.log(node);
        document.getElementById("myList").appendChild(node);
      }   
 }
lists();
</script>
        
    </body>
</html>
