{{extend 'layout.html'}}

<head>
	<link rel="stylesheet" href="{{=URL('static', 'css/notes.css')}}"></link>
	<script src="{{=URL('static', 'js/actb.js')}}"></script>
	<script src="{{=URL('static', 'js/common.js')}}"></script>
</head>

<script type="text/javascript">
function deletion(id)
{
	var xmlhttp;
	if (window.XMLHttpRequest)
	{
		xmlhttp=new XMLHttpRequest();
	}
	else
	{
		xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	}
	xmlhttp.onreadystatechange=function()
	{
		if (xmlhttp.readyState==4 && xmlhttp.status==200)
		{
			list=document.getElementById("myList");
			a=document.getElementById(id);
			list.removeChild(a);
		}
	}
	xmlhttp.open("GET","./note_viewing.html?delete_id="+id,true);
	xmlhttp.send();
}
function lists()
{
	var ti=document.getElementById("title").value
	var ta=document.getElementById("tags").value
	var co=document.getElementById("content").value
	var xmlhttp;
	if (window.XMLHttpRequest)
	{
		xmlhttp=new XMLHttpRequest();
	}
	else
	{
		xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	}
	xmlhttp.onreadystatechange=function()
	{
		if (xmlhttp.readyState==4)
		{	
			var list=document.getElementById("myList");
			list.remove();
			list=document.createElement("ul");
			list.id="myList";
			document.getElementById("note_list").appendChild(list);
			y=xmlhttp.responseText;
			n=eval("("+y+")");
			var node, nodeb, textnode, nodea, nodeh, nodep1, nodep2;
			for(i=0;i<n["number"];i++)
			{
				node=document.createElement("li");
				node.id=n["notes"][i]["id"];

				nodeb=document.createElement("button");
				nodeb.setAttribute('data-id', n["notes"][i]["id"]);
				nodeb.addEventListener('click', function() {
					deletion( parseInt( this.getAttribute('data-id') ) );
				});
				textnode=document.createTextNode("X");
				nodeb.appendChild(textnode);
				node.appendChild(nodeb);

				nodea=document.createElement("a");

				nodeh=document.createElement("h2");
				textnode=document.createTextNode(n["notes"][i]["title"]);
				nodeh.appendChild(textnode);

				nodep1=document.createElement("p");
				textnode=document.createTextNode(n["notes"][i]["tags"]);
				nodep1.appendChild(textnode);

				nodep2=document.createElement("p");
				text=eval("("+n["notes"][i]["content"]+")");
				for(j=0;j<text.length;j++)
				{
					textnode=document.createTextNode(text[j]);
					nodep2.appendChild(textnode);
					nodep2.appendChild(document.createElement("br"));
				}

				nodea.appendChild(nodeh);
				nodea.appendChild(nodep1);
				nodea.appendChild(nodep2);
				nodea.href="./note_editing.html?view_id="+n["notes"][i]["id"];
				node.appendChild(nodea);
				document.getElementById("myList").appendChild(node);
			}		
		}
	}
	xmlhttp.open("GET","./note_search.html?title="+ti+"&tags="+ta+"&content="+co,true);
	xmlhttp.send();
}
</script>

<form action="{{=URL()}}" method="post">
	<input type="submit" value="Back" name="Back" />
</form>

Title: <input id="title" onkeyUp="lists()" autocomplete="off"/><br/><br/>
Tags:  <input id="tags" onkeyUp="lists()" autocomplete="off"/><br/><br/>
Content: <input id="content" onkeyUp="lists()" autocomplete="off"/><br/><br/>

<div id="note_list">
<ul id="myList">
</ul>
</div>

<script>
	function taglists()
	{
		var xmlhttp;
		if (window.XMLHttpRequest)
		{
			xmlhttp=new XMLHttpRequest();
		}
		else
		{
			xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
		}
		xmlhttp.onreadystatechange=function()
		{
			if (xmlhttp.readyState==4 && xmlhttp.status==200)
			{
				y=xmlhttp.responseText;
				n=eval("("+y+")");
				var tag_array=n["tags"];
				var obj=actb(document.getElementById('tags'),tag_array);
			}
		}
		xmlhttp.open("GET","./get_tags.html",true);
		xmlhttp.send();
	}
	taglists();
</script>
