<!DOCTYPE html>
<html lang="en">
    <head>
    <style>
    #check{
        display: block;
    }
    #hide
    {
        display:none;
    }
    #textfield
    {
      display: none;
      background: white;
      border: 1px solid #000;
    }
    #drawing
    {
      display: none;
      background: white;
    }
    #sowmith
    {
      display: block;
    }
    </style>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
        <title>NoteKeeper - Gps</title>
        <meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="../static/css/bootstrap.min1.css" rel="stylesheet">
        <script src="{{=URL('static', 'js/actb.js')}}"></script>
        <script src="{{=URL('static', 'js/common.js')}}"></script>
        <script type="text/javascript">
    function make(){
        l = document.getElementById('check').style.display;
        console.log(l);
        if (l == "none" || l==""){
        document.getElementById('check').style.display="block";
        document.getElementById('al').checked=true;
        }
        else{
          document.getElementById('al').checked=false;
         document.getElementById('check').style.display="none";
         document.getElementById('sub').value="InputIn";  
        }
    }
    function call(n){
        document.getElementById('hide').value=n
        if(n==1)
        {
            document.getElementById("color_index").className="btn btn-primary"
            document.getElementById("hello").className="btn btn-primary"
            document.getElementById("color_index").innerHTML="blue"

        }
        else if(n==2)
        {
            document.getElementById("color_index").className="btn btn-success"
            document.getElementById("hello").className="btn btn-success"
            document.getElementById("color_index").innerHTML="green"
        }
        else if(n==3)
        {
            document.getElementById("color_index").className="btn btn-warning"
            document.getElementById("hello").className="btn btn-warning"   
            document.getElementById("color_index").innerHTML="yellow"
        }
    }
    function avinash(){
        l=document.getElementById('a1').value 
        l = String(l)
        array=l.split("-")
        if (array.length == 3)
        {
            day = array[0]
            month = array[1]
            year = array[2]
            day = Number(day)
            month = Number(month)
            year = Number(year)
            k = 0
            if ((array[0].length>0) && (array[1].length>0) && (array[2].length>0))
            {
                k = 1 
            }
            if ((day <= 31 && day>=1) && (month<=12 && month>=1) && (k==1))
            {
                document.getElementById("format").innerHTML="Valid Format"
            }
            else
            {
                document.getElementById("format").innerHTML = "Invalid Date - Format: dd-mm-yy "
            }
        }
        else
        {
            document.getElementById("format").innerHTML="Invalid Date - Format: dd-mm-yy"
        }
    }
    function raviraja(){
        l = document.getElementById("a2").value
        l = String(l)
        console.log(l)
        array = l.split(":")
        console.log(array.length)
        if (array.length==2)
        {
            console.log("if case")
            hr = Number(array[0])
            min = Number(array[1])
            k = 0
            if ((array[0].length>0) && (array[1].length>0))
            {
                k = 1 
            }
            if ((hr>=0 && hr<24) && (min>=0 && min<=60) && (k==1))
            {
                document.getElementById("time").innerHTML="Valid Format"   
            }
            else
            {
                document.getElementById("time").innerHTML = "Invalid Date - Format: hr:min"         

            }
        }
        else
        {
            console.log("else case")
            document.getElementById("time").innerHTML = "Invalid Date - Format: hr:min"
        }
    }
        function taglists()
        {
            var xmlhttp;
            if (window.XMLHttpRequest)
            {
                xmlhttp=new XMLHttpRequest();
            }
            else
            {
                xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange=function()
            {
                if (xmlhttp.readyState==4 && xmlhttp.status==200)
                {
                    y=xmlhttp.responseText;
                    n=eval("("+y+")");
                    var tag_array=n["tags"];
                    var obj=actb(document.getElementById('tags'),tag_array);
                }
            }
            xmlhttp.open("GET","./get_tags.html",true);
            xmlhttp.send();
        }
        taglists();  
</script>
<script type="text/javascript">
    var flag=0,textmode=0;
    /* flag controls drawing on canvas using mouse events
    textmode controls whether it is in Text(0) or Drawing(1) mode */
    var prevx=null ,prevy=null; /* coordinates of previous drawing point */
    
    function textmodechange()
    {
      var choice=document.getElementById("type");
      if(choice.value=="Text")
      {
        document.getElementById("drawing").style.zIndex=0;
        document.getElementById("drawing").style.opacity=1;
        document.getElementById("textfield").style.zIndex=5;
        document.getElementById("textfield").style.opacity=0.7;
        textmode=0;
      }
      else if(choice.value=="Drawing")
      {
        document.getElementById("textfield").style.zIndex=0;
        document.getElementById("textfield").style.opacity=1;
        document.getElementById("drawing").style.zIndex=5;
        document.getElementById("drawing").style.opacity=0.9;
        textmode=1;
      }
    }
    
    function draw(event)
    {
      if(textmode==0)
        return;
      var val=document.getElementById("colors");
      if(val.value=="White" && flag==1)
      {
        rub(event);
      }
      else if(flag==1)
      {
        var canvas = document.getElementById("drawing");
        var ctx=canvas.getContext('2d');
        var t=canvas.style.top;
        var n=parseInt(t);
        var l=canvas.style.left;
        var m=parseInt(l);
        var x=event.pageX-m-400;
        var y=event.pageY-n-150;
        ctx.strokeStyle=val.value;
        ctx.lineWidth=5;
        if(prevx!=null)
        {
          ctx.beginPath();
          ctx.moveTo(prevx,prevy);
          ctx.lineTo(x,y);
          ctx.closePath();
          ctx.stroke();
        }
        prevx=x;
        prevy=y;
      }
    }
    
    /* f and g are just for changing the value of flag variable */
    function f()
    {
      flag=1;
    }
    
    function g()
    {
      flag=0;
      prevx=prevy=null;
    }
    
    function colourchange()
    {
      if(textmode==0)
        return;
      var er=document.getElementById("eraser");
      var val=document.getElementById("colors");
      if(val.value!="White")
      {
        er.checked=false;
      }
      else
      {
        er.checked=true;
      }
    }
    function try_it()
    {
      var l = document.getElementById("sowmith").style.display;
      console.log(l);
      if(l == "none")
      {
        document.getElementById("sowmith").style.display="block";
        document.getElementById("drawing").style.display="none";
        document.getElementById("textfield").style.display="none";
        document.getElementById("options").style.display="none";
      }      
      else
      {
        document.getElementById("sowmith").style.display="none";
        document.getElementById("drawing").style.display="block";
        document.getElementById("textfield").style.display="block";
        document.getElementById("options").style.display="block";
      }
    }
    /* does the actual rubbing */
    function rub(event)
    {
      if(textmode==0)
        return;
      var canvas = document.getElementById("drawing");
      var ctx=canvas.getContext('2d');
      var t=canvas.style.top;
      var n=parseInt(t);
      var l=canvas.style.left;
      var m=parseInt(l);
      var x=event.pageX-m-400;
      var y=event.pageY-n-150;
      ctx.fillStyle="#fff";
      ctx.beginPath();
      ctx.arc(x,y,20,0,2*Math.PI);
      ctx.fill()
      ctx.closePath();
    }
    
    /* Just to change the colour to the background colour when eraser is clicked */
    function erase(event)
    {
      var val=document.getElementById("colors");
      if(val.value!="White")
      {
        var er=document.getElementById("eraser");
        er.checked=true;
        val.value="White";
        colourchange();
        rub(event);
      }
      else
      {
        val.value="Red";
        colourchange();
        draw(event);
      }
    }
    
    /*Note: When you to change the size of canvas, it is automatically cleared. So you have to redraw the image */
    function extend()
    {
      var textf=document.getElementById("textfield");
      var canvas=document.getElementById("drawing");
      var n=parseInt(textf.style.height);
      var m=parseInt(textf.style.top);
      n+=50;
      textf.style.height=n+"px";
      var ctx=canvas.getContext('2d');
      var oldcanvas=canvas.toDataURL("image/png");
      var img=new Image();
      img.src=oldcanvas;
      img.onload=function()
      {
        canvas.height=n;
        ctx.drawImage(img,0,0);
      }
      var para=document.getElementById("extra");
      para.style.top=n+m+"px";
    }
        
        function save()
        {
            var canvas=document.getElementById("drawing");
            document.getElementById("h").value=canvas.height;
            var oldcanvas=canvas.toDataURL("image/png");
            var image=document.getElementById("data");
            image.value=oldcanvas;
            console.log(oldcanvas);
        }

        function loadcanvas()
        {
           var canvas=document.getElementById("drawing");
            var ctx=canvas.getContext('2d');
      var oldcanvas="{{=canvas_image}}";
      var img=new Image();
      img.src=oldcanvas;
      img.onload=function()
      {
        canvas.height="{{=canvas_height}}";
        ctx.drawImage(img,0,0);
      }  
       
        }

        window.addEventListener("load",loadcanvas);
  </script>
        <style type="text/css">
            .navbar-static-top {
  margin-bottom:20px;
}

i {
  font-size:16px;
}

.nav > li > a {
  color:#787878;
}
  
footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
  position: absolute;
  bottom: -350px;
  width: 100%;
  text-align: center;
}

/* count indicator near icons */
.nav>li .count {
  position: absolute;
  bottom: 12px;
  right: 6px;
  font-size: 10px;
  font-weight: normal;
  background: rgba(51,200,51,0.55);
  color: rgba(255,255,255,0.9);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/* indent 2nd level */
.list-unstyled li > ul > li {
   margin-left:10px;
   padding:8px;
}

#options
{
  position: absolute;
  left: 850px;
  top:150px;
  display: none;
}
        </style>
    </head>
    
    <body >
        
        <!-- Header -->
<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-toggle"></span>
      </button>
      <a class="navbar-brand" href="#">NoteKeeper</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="note_viewing"><i class="glyphicon glyphicon-user"></i> Hello {{=us}} <span class="caret"></span></a>
          <ul id="g-account-menu" class="dropdown-menu" role="menu">
            <li><a href="user/profile">My Profile</a></li>
          </ul>
        </li>
        <li><a href="user/logout"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
      </ul>
    </div>
  </div><!-- /container -->
</div>
<!-- /Header -->

<!-- Main -->
<div class="container">
<div class="row">
    <div class="col-md-3">
      <!-- Left column -->
      <ul class="list-unstyled">
        <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#userMenu">
          <strong> Features <i class="glyphicon glyphicon-chevron-down"></i>
          </strong></a>
            <ul class="list-unstyled collapse in" id="userMenu">
                <li class="active"> <a href="note_viewing"><i class="glyphicon glyphicon-home"></i> Home</a></li>
                <li><a href="note_viewing"><i class="glyphicon glyphicon-cog"></i> Get My Notes </a></li>
                <li><a href="upload"><i class="glyphicon glyphicon-upload"></i> Upload Note </a></li>
                <li><a href="todolist"><i class="glyphicon glyphicon-list-alt"></i> To-Do List </a></li>
            </ul>
        </li>
        <li class="nav-header">
        <a href="#" data-toggle="collapse" data-target="#menu3">
          <h5>Social Media <i class="glyphicon glyphicon-chevron-right"></i></h5>
          </a>
        
            <ul class="list-unstyled collapse" id="menu3">
                <li><a href="http://www.facebook.com"><i class="glyphicon glyphicon-circle"></i> Facebook</a></li>
                <li><a href="http://www.twitter.com"><i class="glyphicon glyphicon-circle"></i> Twitter</a></li>
            </ul>
        </li>
      </ul>
    </div><!-- /col-3 -->
    <div class="col-md-9">
        
      <!-- column 2 --> 
     
      <a href="#"><strong><i class="glyphicon glyphicon-book"></i> New Note!</strong></a>  
      
        <div class="row">
           <!-- center left--> 
              <ul id="myList"></ul>             
              <!--tabs-->
              <div class="container">
                <div class="col-md-4">
                </div>
              </div>  
               
              <!--/tabs-->
              
              <hr>
              
            </div><!--/col-->
            <div class=

            "col-md-6">

            <form action="{{=URL()}}" method="post" id="note_form" class="form-horizontal" enctype="multipart/form-data" >
            <div class="input-group">
            <span class="input-group-addon">Title</span>
            <input type="text" class="form-control" value="{{=session.title}}" name="title" autocomplete="off">
            </div><br>
            <div class="input-group">
  <span class="input-group-addon">Tags</span>
  <input type="text" class="form-control" value="{{=session.tags}}" name="tags" autocomplete="off" id="tags">
</div><br><br>
            <a href="#"><strong><i class="glyphicon glyphicon-picture"></i>  Enable Canvas</a> <input type="checkbox" name="canvas" onclick="try_it()" /></strong> <br><br>
            <div id="sowmith">
            <a href="#"><strong><i class="glyphicon glyphicon-pencil"></i>Content</strong></a> 
            <textarea name="content" class="form-control">{{=session.content}}</textarea><br/><br/>
            </div>
            <div>
    
    <!-- Title : <input type="text" name="Title" /><br>
    Tags : <input type="text" name="Tags" /><br> -->
    <textarea onscroll="extend();" id="textfield" name="Text" style="position:absolute; left:450px; top:100px; width:500px; height:500px; z-index:5; opacity:0.9;">{{=session.Text}}</textarea>
    <canvas style="position:absolute; top:100px; z-index:0; left:450px; opacity:1;" id="drawing" height="500" width="500"
    onmousemove="draw(event)" onmousedown="f()" onmouseup="g()" >
    </canvas> 
        <input id="data" type="text" name="canvas_image" style="display:none;" />
        <input id="h" type="text" name="canvas_height" style="display:none;" />
  <!-- This paragraph is for the extra space at the bottom of the page -->
  <p id="extra" style="position:absolute; top:600px;">&nbsp<br><br><br></p>
            </div>
  <div class="btn-group">
  <button type="button" class="btn btn-primary" id="color_index">Color</button>
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="hello">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#" onclick="call(1)">Blue</a></li>
    <li><a href="#" onclick="call(2)">Green</a></li>
    <li><a href="#" onclick="call(3)">Yellow</a></li>
  </ul>
</div><br><br>
            Reminder <input type="checkbox" id="al" name="alarm" onclick="make()" checked="true"/><br>
            <div id="check"><br>
            <div class="input-group">
            <span class="input-group-addon">Date</span>
            <input type="text" class="form-control" value="{{=session.date}}" name="n_date" id="a1" onkeyup="avinash()">
            </div>
            <span id="format"> Format: dd-mm-yy </span><br><br>
            <div class="input-group">
            <span class="input-group-addon">Time</span>
            <input type="text" class="form-control" value="{{=session.time}}" name="n_time" id="a2" onkeyup="raviraja()">
            </div>
            <span id="time"> Format: hr-mm </span><br><br>
            <div class="input-group">
            <span class="input-group-addon">Msg</span>
            <input type="text" class="form-control" value="{{=session.msg}}" name="n_msg" >
            </div>
            <input id="hide" name="color" value="{{=session.color}}"><br>
            </form> 
            </div><!--/col-span-6-->
            <br>
            <button form="note_form" value="InputIn" name="SubmitSecond" id="sub" class="btn btn-primary" onmouseover="save()">Finish !</button>
      </div><!--/row-->
    </div><!--/col-span-9-->
</div>
</div>

<div id="options" >

      <select id="type" onchange="textmodechange()">
    <option>Text</option>
    <option>Drawing</option>
    </select><br><br>

    <span>Color: </span><select id="colors" onchange="colourchange()">
    <option>Red</option>
    <option>Blue</option>
    <option>Green</option>
    <option>Black</option>
    <option>Gray</option>
    <option>Yellow</option>
    <option>Orange</option>
    <option>Silver</option>
    <option>Purple</option>
    <option>Aqua</option>
    <option>Fuchsia</option>
    <option>Lime</option>
    <option>Maroon</option>
    <option>Navy</option>
    <option>Olive</option>
    <option>Teal</option>
    <option>White</option>
    </select>
    
    &nbsp&nbsp <input id="eraser" type="checkbox" onchange="erase(event)" /> ERASER<br><br>

</div>

<!-- /Main -->

<footer>Powered By <strong>The Mystic</strong></footer>


        
        <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


        <script type='text/javascript' src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

        <!-- JavaScript jQuery code from Bootply.com editor -->
        
        <script type='text/javascript'>
        
        $(document).ready(function() {
        
            $(".alert").addClass("in").fadeOut(4500);

/* swap open/close side menu icons */
$('[data-toggle=collapse]').click(function(){
    // toggle icon
    $(this).find("i").toggleClass("glyphicon-chevron-right glyphicon-chevron-down");
});
        
        });
        
        </script>
          
    </body>
</html>
