<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
        <title>NoteKeeper</title>
        <meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="../static/css/bootstrap.min1.css" rel="stylesheet">
        <link rel="stylesheet" href="{{=URL('static', 'css/notes.css')}}"></link>

        <!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <!-- CSS code from Bootply.com editor -->
        <script type="text/javascript">
        function deletion(id)
        {
          var xmlhttp;
          if (window.XMLHttpRequest)
          {
              xmlhttp=new XMLHttpRequest();
          }
          else
          {
              xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
          }
          xmlhttp.onreadystatechange=function()
          {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                  list=document.getElementById("myList");
                  a=document.getElementById(id);
                  list.removeChild(a);
            }
          }
          xmlhttp.open("GET","./note_viewing.html?delete_id="+id,true);
          xmlhttp.send();
          }
  function lists()
  {
    console.log("hi")
  var xmlhttp;
  if (window.XMLHttpRequest)
  {
    xmlhttp=new XMLHttpRequest();
  }
  else
  {
    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
  xmlhttp.onreadystatechange=function()
  {
    if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
      y=xmlhttp.responseText;
      n=eval("("+y+")");
      var node, nodeb, textnode, nodea, nodeh, nodep1, nodep2;
      for(i=0;i<n["number"];i++)
      {
        node=document.createElement("li");
        node.id=n["notes"][i]["id"];
        if (n["notes"][i]["color"] == 1)
        { 
          node.style.background = "#39B3D7"
        }
        else if(n["notes"][i]["color"] == 2)
        {
          node.style.background = "#99FF66"
        }
        else if(n["notes"][i]["color"] == 3)
        {
          node.style.background = "#FFFF66"
        }
        nodeb=document.createElement("a");
        nodeb.setAttribute('data-id', n["notes"][i]["id"]);
        nodeb.id="x";
        nodeb.addEventListener('click', function() {
          deletion( parseInt( this.getAttribute('data-id') ) );
        });
        textnode=document.createTextNode("X");
        nodeb.appendChild(textnode);
        node.appendChild(nodeb);

        nodea=document.createElement("a");

        nodeh=document.createElement("h2");
        textnode=document.createTextNode(n["notes"][i]["title"]);
        nodeh.appendChild(textnode);

        nodep1=document.createElement("p");
        textnode=document.createTextNode(n["notes"][i]["tags"]);
        nodep1.appendChild(textnode);

        nodep2=document.createElement("p");
        text=eval("("+n["notes"][i]["content"]+")");
        for(j=0;j<text.length;j++)
        {
          textnode=document.createTextNode(text[j]);
          nodep2.appendChild(textnode);
          nodep2.appendChild(document.createElement("br"));
        }

        nodep3=document.createElement("p")
        nodep3.id = "float"
        textnode=document.createTextNode("Date Modified :"+n["notes"][i]["modified"])
        nodep3.appendChild(textnode)

        nodea.appendChild(nodeh);
        nodea.appendChild(nodep1);
        nodea.appendChild(nodep2);
        nodea.appendChild(nodep3);

        nodea.href="./note_editing.html?view_id="+n["notes"][i]["id"];
        node.appendChild(nodea);
        document.getElementById("myList").appendChild(node);
      }   
    }
  }
  xmlhttp.open("GET","./get_notes.html",true);
  xmlhttp.send();
}
lists();
function tasks(){
  var xmlhttp;
  if (window.XMLHttpRequest)
  {
    xmlhttp=new XMLHttpRequest();
  }
  else
  {
    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
  xmlhttp.onreadystatechange=function()
  {
    if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
       y1 = xmlhttp.responseText;
       n1=eval("("+y1+")");
       n1 = n1["todo"]
       for (i=0; i < n1.length; i++)
       {
         str = "task"+String(i+1)
         document.getElementById(str).innerHTML=n1[i]
       }
    }
  }
  xmlhttp.open("GET","./get_tasks.html",true);
  xmlhttp.send();
}
tasks();
</script>
        <style type="text/css">
            .navbar-static-top {
  margin-bottom:20px;
}

i {
  font-size:16px;
}

.nav > li > a {
  color:#787878;
}
  
footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
}

/* count indicator near icons */
.nav>li .count {
  position: absolute;
  bottom: 12px;
  right: 6px;
  font-size: 10px;
  font-weight: normal;
  background: rgba(51,200,51,0.55);
  color: rgba(255,255,255,0.9);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/* indent 2nd level */
.list-unstyled li > ul > li {
   margin-left:10px;
   padding:8px;
}
        </style>
    </head>
    
    <!-- HTML code from Bootply.com editor -->
    
    <body>
        
        <!-- Header -->
<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-toggle"></span>
      </button>
      <a class="navbar-brand" href="#">NoteKeeper</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> Hello {{=l}} 
          <ul id="g-account-menu" class="dropdown-menu" role="menu">
            <li><a href="user/profile">My Profile</a></li>
          </ul>
        </li>
        <li><a href="user/logout"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
      </ul>
    </div>
  </div><!-- /container -->
</div>
<!-- /Header -->

<!-- Main -->
<div class="container">
<div class="row">
	<div class="col-md-3">
      <!-- Left column -->
      <ul class="list-unstyled">
        <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#userMenu">
          <strong> Features <i class="glyphicon glyphicon-chevron-down"></i>
          </strong></a>
            <ul class="list-unstyled collapse in" id="userMenu">
                <li class="active"> <a href="note_viewing"><i class="glyphicon glyphicon-home"></i> Home</a></li>
                <li><a href="note_viewing?DeletionSubmit=DeleteAll"><i class="glyphicon glyphicon-comment"></i> Delete All</a></li>
                <li><a href="upload"><i class="glyphicon glyphicon-upload"></i> Upload Note </a></li>
                <li><a href="Download"><i class="glyphicon glyphicon-download"></i> Offline Version </a></li>
                <li><a href="todolist"><i class="glyphicon glyphicon-list-alt"></i> TodoList </a></li>
            </ul>
        </li>
        <li class="nav-header">
        <a href="#" data-toggle="collapse" data-target="#menu3">
          <h5>Social Media <i class="glyphicon glyphicon-chevron-right"></i></h5>
          </a>
        
            <ul class="list-unstyled collapse" id="menu3">
                <li><a href="#"><i class="glyphicon glyphicon-circle"></i> Facebook</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-circle"></i> Twitter</a></li>
            </ul>
        </li>
      </ul>
      
      <hr>
  	</div><!-- /col-3 -->
    <div class="col-md-9">
      	
      <!-- column 2 -->	
      <!--<ul class="list-inline pull-right">
         <li><a href="#"><i class="glyphicon glyphicon-cog"></i></a></li>
         <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-comment"></i><span class="count">3</span></a><ul class="dropdown-menu" role="menu"><li><a href="#">1. Is there a way..</a></li><li><a href="#">2. Hello, admin. I would..</a></li><li><a href="#"><strong>All messages</strong></a></li></ul></li>
         <li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
         <li><a title="Add Widget" data-toggle="modal" href="#addWidgetModal"><span class="glyphicon glyphicon-plus-sign"></span> Add Widget</a></li>
      </ul>-->
      <a href="#"><strong><i class="glyphicon glyphicon-dashboard"></i> My Notes</strong></a>  
      <hr>
      
		<div class="row">
           
            
          
            <!-- center left-->	
         	<div class="col-md-6">   
              <div class="btn-group btn-group-justified">
                <a href="note_viewing?Submition=Insert" class="btn btn-primary col-sm-3">
                  <i class="glyphicon glyphicon-pencil"></i><br>
                  New Note
                </a>
                <a href="note_viewing?Search=Search" class="btn btn-primary col-sm-3">
                  <i class="glyphicon glyphicon-search"></i><br>
                  Search
                </a>
                <a href="set_alarm" class="btn btn-primary col-sm-3">
                  <i class="glyphicon glyphicon-bell"></i><br>
                  Alarms
                </a>
                <a href="todolist" class="btn btn-primary col-sm-3">
                  <i class="glyphicon glyphicon-list-alt"></i><br>
                  To-Do
                </a>
              </div>
              <hr>             
              <!--tabs-->
            
      <!--/col-span-6-->
     
      </div><!--/row-->
      </div> 
            <div> 
              <ul id="myList"></ul>
              
            </div>
      <hr>
      
      <a href="todolist"><strong><i class="glyphicon glyphicon-comment"></i> Tasks Pending </strong></a>  
      
      <hr>
      
      <div class="row">
        <div class="col-md-12">
          <ul class="list-group">
            <li class="list-group-item"><a href="#"><i class="glyphicon glyphicon-flag"></i> <span id="task1"> No Tasks</a></li>

            <li class="list-group-item"><a href="#"><i class="glyphicon glyphicon-flag"></i> <span id="task2"> No Tasks </a></li>
            <li class="list-group-item"><a href="#"><i class="glyphicon glyphicon-flag"></i> <span id="task3"> No Tasks </a></li>
            <li class="list-group-item"><a href="#"><i class="glyphicon glyphicon-flag"></i> <span id="task4"> No Tasks </a></li>
          </ul>
        </div>
      </div>
  	</div><!--/col-span-9-->
</div>
</div>
<!-- /Main -->

<footer class="text-center">Powered By <a><strong>Mystic</strong></a></footer>





  
        
        <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


        <script type='text/javascript' src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>





        
        <!-- JavaScript jQuery code from Bootply.com editor -->
                <script type='text/javascript'>
        
        $(document).ready(function() {
        
            $(".alert").addClass("in").fadeOut(4500);

/* swap open/close side menu icons */
$('[data-toggle=collapse]').click(function(){
    // toggle icon
    $(this).find("i").toggleClass("glyphicon-chevron-right glyphicon-chevron-down");
});
        
        });

        </script>
        
    </body>
</html>
