<script type="text/javascript">
        function avinash(){
        l=document.getElementById('a1').value 
        l = String(l)
        array=l.split("-")
        if (array.length == 3)
        {
            day = array[0]
            month = array[1]
            year = array[2]
            day = Number(day)
            month = Number(month)
            year = Number(year)
            k = 0
            if ((array[0].length>0) && (array[1].length>0) && (array[2].length>0))
            {
                k = 1 
            }
            if ((day <= 31 && day>=1) && (month<=12 && month>=1) && (k==1))
            {
                document.getElementById("format").innerHTML="Valid Format"
            }
            else
            {
                document.getElementById("format").innerHTML = "Invalid Date - Format: dd-mm-yy "
            }
        }
        else
        {
            document.getElementById("format").innerHTML="Invalid Date - Format: dd-mm-yy"
        }
    }
    function raviraja(){
        l = document.getElementById("a2").value
        l = String(l)
        console.log(l)
        array = l.split(":")
        console.log(array.length)
        if (array.length==2)
        {
            console.log("if case")
            hr = Number(array[0])
            min = Number(array[1])
            k = 0
            if ((array[0].length>0) && (array[1].length>0))
            {
                k = 1 
            }
            if ((hr>=0 && hr<24) && (min>=0 && min<=60) && (k==1))
            {
                document.getElementById("time").innerHTML="Valid Format"   
            }
            else
            {
                document.getElementById("time").innerHTML = "Invalid Date - Format: hr:min"         

            }
        }
        else
        {
            console.log("else case");
            document.getElementById("time").innerHTML = "Invalid Date - Format: hr:min"
        }
    }
</script>
<title>NoteKeeper - Gps</title>
<meta name="generator" content="Bootply" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="../static/css/bootstrap.min1.css" rel="stylesheet">
<script src="{{=URL('static', 'js/actb.js')}}"></script>
<script src="{{=URL('static', 'js/common.js')}}"></script>
 <body>
        
        <!-- Header -->
<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-toggle"></span>
      </button>
      <a class="navbar-brand" href="#">NoteKeeper</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> Hello {{=l}} 
          <ul id="g-account-menu" class="dropdown-menu" role="menu">
            <li><a href="user/profile">My Profile</a></li>
          </ul>
        </li>
        <li><a href="user/logout"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
      </ul>
    </div>
  </div><!-- /container -->
</div>
<!-- /Header -->

<!-- Main -->
<div class="container">
<div class="row">
    <div class="col-md-3">
      <!-- Left column -->
      <ul class="list-unstyled">
        <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#userMenu">
          <strong> Features <i class="glyphicon glyphicon-chevron-down"></i>
          </strong></a>
            <ul class="list-unstyled collapse in" id="userMenu">
                <li class="active"> <a href="note_viewing"><i class="glyphicon glyphicon-home"></i> Home</a></li>
                <li><a href="note_viewing?DeletionSubmit=DeleteAll"><i class="glyphicon glyphicon-comment"></i> Delete All</a></li>
                <li><a href="upload"><i class="glyphicon glyphicon-upload"></i> Upload Note </a></li>
                <li><a href="Download"><i class="glyphicon glyphicon-download"></i> Offline Version </a></li>
            </ul>
        </li>
      </ul>
      <hr>
    </div><!-- /col-3 -->
    <a href="#"><strong><i class="glyphicon glyphicon-dashboard"></i> My Notes</strong></a>  
    <hr>
    <div class="row">
        <div class="col-md-6">   
        <form action="{{=URL()}}" method="post">
        Date: <input type="text" name="n_date" onkeyup="avinash()" id="a1" > <span id="format"> Format: dd-mm-yy </span> <br><br>
        Time: <input type="text" name="n_time" onkeyup="raviraja()" id="a2" > <span id="time"> Format: hr:mm </span> <br><br>
        Msg: <input type="text" name="n_msg"><br><br>
        <input type="submit" value="Remind Me" name="SubmitSecond" id="sub"/>
        </form> 
        </div>
    </div>

</div>
</div>
<!-- /Main -->
<br><br><br><br><br><br><br><br><br><br>
<footer class="text-center">Powered By <a><strong>Mystic</strong></a></footer>

